/* Box sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* general styles */
.btn {
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  letter-spacing: 0.03em;
  border: none;
  text-align: center;
  color: #fff;
}

.btn:hover {
  color: #f55800;
  background-color: #fff5e1;
  cursor: pointer;
}

.btn:active {
  color: #f4f1f0;
  background-color: #e05304;
}

.btn:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.txt-white {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Navbar */
nav {
  background-color: #3c3a39;
  display: flex;
  padding-left: 12px;
  padding-right: 35px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav .logo {
  color: #fff;
  font-family: "Segoe UI", "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  padding: 10px 12px;
  text-decoration: none;
}

nav .logo:hover {
  color: #ff6b00;
}

.nav-links {
  display: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
}

.nav-links li {
  padding: 10px 16px;
}

.nav-links a:hover {
  color: #f55800;
  transition: color 300ms linear;
}

.ddl-menu {
  display: flex;
  flex-direction: column;
  width: 20px;
  grid-row-gap: 5px;
}

.ddl-menu div {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.ddl-menu:hover div {
  background-color: #ff6b00;
}

.ddl-menu:hover {
  cursor: pointer;
}

/* Main content */

/* Header */
.header {
  background-color: #1c1a19;
  background-image: url("images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 220px;
  display: flex;
  flex-direction: column;
  height: 590px;
  position: relative;
  padding: 0 24px;
  justify-content: center;
}

.header-title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.primary-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin: 12px 0;
}

.social-media-icons {
  margin-top: 22px;
  display: flex;
}

.social-media-icons a {
  margin: 0 15px;
}

.partial-header-bg-img {
  height: 400px;
  width: 150px;
  position: absolute;
  right: 0%;
  top: 39%;
  -webkit-user-drag: none;
}

/* Projects section */
.projects-section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  padding: 0 24px 120px 24px;
}

.projects-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  grid-gap: 24px;
}

.projects-section-header > h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.projects-section-header > hr {
  height: 0px;
  border: 0;
  border-top: 1px solid #212121;
  background-color: #212121;
  width: 314px;
}

.projects-cards {
  display: grid;
  grid-gap: 24px;
}

/* Most recent project */
.most-recent-project {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
}

.most-recent-project-img-disp img {
  width: 100%;
}

.most-recent-project-desktop-img {
  display: none;
}

.most-recent-project-info {
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
}

.most-recent-project-info h3 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.most-recent-project-info p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  font-weight: 500;
}

.technologies-used-list {
  display: flex;
}

.technologies-used-list li {
  margin-right: 15px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  text-align: center;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

.most-recent-project button {
  width: fit-content;
}

/* Project card */
.project-card {
  background-image: url("images/Img-placeholder.png");
  background-size: cover;
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
}

.card-title {
  font-family: "Crete Round", serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.card-technologies {
  display: flex;
  margin: 12px 0 22px 0;
}

.card-technologies li {
  margin-right: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding: 10px 12px;
  background-color: #ffffff3d;
}

.project-card button {
  width: 100%;
  height: 48px;
}

/* About me section */
.about-section {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
}

.about-section-header {
  background-image: url("images/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row-gap: 24px;
}

.about-section-header h2 {
  font-family: "Crete Round", serif;
  color: #ff6b00;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  font-weight: normal;
  align-self: center;
}

.about-section-header button {
  width: fit-content;
}

.about-section > hr {
  height: 0px;
  border: 0;
  border-top: 1px solid #fff;
  margin: 0px 24px 135px 24px;
}

.about-me-content {
  margin: 0 24px 130px 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.about-me-content ul {
  margin-bottom: 30px;
}

.about-me-content ul li {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  margin: 15px 0;
}

.about-me-content h1 {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-left: -40px;
}

.about-me-content h1 span {
  color: #ff6b00;
}

/* Footer */
footer {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
}

.footer-header {
  font-family: "Inter", sans-serif;
  color: #172b4d;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  padding: 0 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 24px;
}

.form-fields {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 35px;
  flex-wrap: wrap;
}

.form-field {
  width: 87%;
}

.form-fields li:nth-child(1),
.form-fields li:nth-child(2) {
  width: 47.5%;
  display: none;
}

.form-field input {
  padding: 14px 16px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-size: 15px;
  line-height: 24px;
}

.form-field textarea {
  background-color: #fbf8f7;
  resize: vertical;
  width: 100%;
  padding: 12px;
  min-height: 100px;
  /* min-width: 100%;
  max-width: 100%; */
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  border: none;
}

.form-field textarea::placeholder {
  color: #3c3a39;
}

.social-links {
  padding-top: 25px;
  padding-bottom: 36px;
  margin-top: 124px;
  border-top: 1px solid #dfe1e6;
}

.footer-social-media-icons {
  display: flex;
  justify-content: center;
  grid-row-gap: 20px;
}

.social-media-link {
  margin: 0 10px;
}

.footer-social-media-icons img {
  filter: invert(85%);
}

@media only screen and (max-width: 370px) {
  .header {
    background-image: none;
  }
}

@media only screen and (min-width:1024px) {
  /* Nav */
  nav {
    padding: 16px 10%;
  }

  .logo {
    font-size: 20px;
    line-height: 20px;
  }

  .nav-links {
    display: flex;
  }

  .ddl-menu {
    display: none;
  }

  /* Main content */

  /* Header */
  .header {
    background-image: url("images/Illustration-header-desktop.png");
    background-position: 100% 0%;
    background-size: 50%;
    height: 798px;
    flex-direction: row-reverse;
    align-items: center;
  }

  .header-title {
    font-size: 72px;
    line-height: 81px;
  }

  .primary-text {
    font-size: 32px;
    line-height: 44px;
    font-weight: 500;
  }

  .social-media-icons {
    flex-direction: column;
    grid-row-gap: 18px;
    margin-right: 4%;
  }

  .header .txt-white {
    width: 40%;
    font-size: 20px;
    line-height: 32px;
  }

  /* Projects section */
  .projects-section {
    padding: 0 3vw 120px 3vw;
  }
  
  .projects-section-header {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 114px;
  }
  
  .projects-section-header > h2 {
    margin-bottom: 0;
  }
  
  .projects-section-header > hr {
    flex: 1;
  }
  
  .projects-cards {
    grid-template-rows: 448px, repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  
  /* Most recent project */
  .most-recent-project {
    grid-column: 1/4;
    flex-direction: row;
    /* min-height: 300px */
  }

  .most-recent-project-mobile-img {
    display: none;
  }

  .most-recent-project-desktop-img {
    display: block;
  }

  .most-recent-project-img-disp {
    flex: 35vw;
  }

  .most-recent-project-info {
    grid-gap: 8px;
    flex: 25vw;
  }
  
  .most-recent-project-info h3 {
    font-size: 40px;
    line-height: 40px;
  }
  
  .most-recent-project-info p {
    font-size: 17px;
    line-height: 28px;
  }

  /* Project card */
  .project-card {
    height: 435px;
  }

  .project-card:hover button {
    visibility: visible;
  }

  .card-content {
    padding: 8px 16px;
  } 
  
  .card-content > * {
    margin-bottom: 12px
  }

  .card-technologies {
    margin-top: 0;
  }

  .project-card button {
    visibility: hidden;
  }

/* About me section */
.about-section {
  background-image: url("images/illustration-about-me-desktop.png");
  background-repeat: no-repeat;
  background-position: 100% 5%;
  padding: 0 8%;
}

.about-section-header {
  background-image: none;
  width: 43%;
  padding: 130px 24px;
}

.about-section-header h2 {
  align-self: flex-start;
}

.about-me-content {
  text-align: start;
  flex-direction: row;
  grid-column-gap: 13%;
}

.about-me-content h1 {
  margin-left: 0;
}

/* Footer */
footer {
  padding: 130px 8% 0 8%;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-header {
  text-align: start;
  font-size: 40px;
  line-height: 52px;
  padding: 0;
  width: 45%;
}

form {
  flex: 1;
  flex-wrap: wrap;
}

.form-fields {
  margin-top: 0;
  grid-gap: 24px;
  flex-direction: row;
}

.form-fields li:nth-child(1),
.form-fields li:nth-child(2) {
  display: block;
}

.form-fields li:nth-child(3) {
  display: none;
}

.form-field {
  width: 100%;
}

.form-field textarea {
  min-height: 120px;
}

.form-btn {
  align-self: flex-start;
}

.social-links {
  width: 100%;
}
}
